* { box-sizing: border-box; margin: 0; padding: 0; }
html, body, #root { background-color: black; color: whitesmoke; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; width: 100%; }
main { position: relative; }
section { min-height: 100vh; position: relative; z-index: 2; }
#canvas-elem { height: 100vh !important; left: 0; position: fixed !important; top: 0; width: 100vw !important; z-index: 1; }
#canvas-elem::after { background-image: url('/background-l.png'); background-repeat: no-repeat; background-size: cover; content: ''; height: 100%; left: 0; position: absolute; top: 0; transition: all .3s linear; width: 100%; z-index: -1; }
#section-1 { --gap: 5rem; position: relative; }
#section-1 nav { align-items: center; display: flex; justify-content: space-between; padding: 3.5rem 2.5rem 1.5rem; }
#section-1 .nav-elem:nth-child(2) i { color: red; }
#section-1 .nav-elem:nth-child(3) { font-size: 1.45rem; }
#section-1 nav svg { height: 100%; max-width: 5rem; width: 100%; }
#section-1 .middle { display: flex; gap: var(--gap); }
#section-1 .middle .left, #section-1 .middle .right, #section-1 .bottom .left, #section-1 .bottom .right { width: 50%; }
#section-1 .middle .left { align-items: center; display: flex; justify-content: flex-end; padding-block: 7rem; }
#section-1 h1 { font-size: 5rem; line-height: .8; text-align: right; }
#section-1 .bottom { display: flex; gap: var(--gap); }
#section-1 .bottom .right p { font-weight: 200; line-height: 1.5; }
#section-1 .first-line { background-color: rgba(255, 0, 0, .396); height: 1px; position: absolute; transform: rotate(45deg) translate(0, -17rem); width: 35rem; }
#section-1 .second-line { background-color: rgba(255, 0, 0, .396); height: 1px; position: absolute; right: 12%; top: 28%; transform: rotate(135deg); width: 10rem; }
#section-2 .titles { display: flex; flex-direction: column; margin-block: 10rem; padding-left: 17rem; }
#section-2 .titles .title { cursor: pointer; display: flex; gap: 4rem; opacity: .3; padding-block: 2rem; transition: all .3s linear; }
#section-2 .titles .title:hover, #section-2 .titles .title:focus { opacity: 1; outline: none; }
#section-2 .titles .title h1 { font-size: 4.5rem; font-weight: 100; line-height: 1; }
#section-2 .titles .title small { font-size: .5rem; margin-top: .6rem; }
main:has(#section-2 .title:hover) #canvas-elem::after, main:has(#section-2 .title:focus) #canvas-elem::after { opacity: 0; }
.images { height: 100%; left: 0; position: fixed; top: 0; width: 100%; }
.images img { height: 100%; left: 0; object-fit: cover; opacity: 0; position: absolute; top: 0; transition: all .3s linear; width: 100%; }
.images img.visible { opacity: 1; }
